body {
  margin: 0;
}

body::before {
  
}

#body-container {
  background-image: url("mt_fuji.jpg");
  background-size: cover;
  opacity: 0.5;
  display: flex;
  flex-direction: column;
}

#middler {
  display: flex;
  flex-direction: row;
}
