/* font-family: 'Comfortaa', cursive;
font-family: 'Crimson Text', serif;
font-family: 'Source Sans Pro', sans-serif; */
body {
  margin: 0;
  background-image: url("lightbulb.jpg");
  background-position: center center;
  background-size: cover;
}

a {
  text-decoration: none;
}

#body-container {
  display: flex;
  flex-direction: column;
  background-color:rgba(0,0,0,.4);
  height: 100vh;
}

header {
  background-color: black;
  color: aliceblue;
  text-align: center;
  font-family: 'Comfortaa', cursive;
}

#middler {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#lefter {
  display: flex;
  flex-direction: column;
}

#chester {
  flex-grow: 1;
  flex-basis: 0; /* without this it can take on any width depending on the window size; now the lefter and righter act as true proportions of the parent */
  display: flex;
  flex-direction: column;
}

#chester-lower {
  padding-top: 10px;
  flex-grow: 1;
}

#chester-lower > a {
  font-family: 'Source Sans Pro', sans-serif;
  color: black;
  background-color: white;
  border-radius: 5px;
  border: 3px solid black;
  padding: 8px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#chester-lower > a:hover {
  color: white;
  background-color: black;
  border: 3px solid white;
  
}

#blog-entries {
  font-family: 'Source Sans Pro', sans-serif;
}

#lefter, #righter {
  flex-basis: 200px;
}

footer {
  background-color: black;
  color: aliceblue;
}

footer > p > a {
  color: cornflowerblue;
}
