body {
  margin: 0;
  background-color: tan;
}

#body-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#middler {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

#chester {
  flex-grow: 1;
  flex-basis: 0;
}

#lefter, #righter {
  background-color: darkorange;
  flex-basis: 200px;
}
